/* General Styles */
*{ 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
    width: 100%;;
}

body{
    display: flex;
    justify-content: center;
}


/* Button Styles */
#buttonContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transform: translate(100px, 100px);
    height: min-content;
}

#buttonContainer > img{
    cursor: pointer;
}

/* Table Styles */
table{
    border-collapse: collapse;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Cell Styles */
td{
    width: 50px;
    height: 50px;
    border: 3px solid #826F8C;
    background-color: #ECCAFF;
}

.start{
    background-color: #FFAE18 !important;
}

.start::before{
    content: "";
    display: block;
    position: relative !important;
    left: 50% !important;
    top: 25% !important;
    transform: translate(-50%, -50%) !important;
    background-image: url(begin.svg) !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
}

.finish{
    background-color: #00AC39 !important;
}

.finish::before{
    content: "";
    display: block;
    position: relative !important;
    left: 50% !important;
    top: 25% !important;
    transform: translate(-50%, -50%) !important;
    background-image: url(trophy.svg) !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
}

.path{
    background-color: #FDFFCA;
    position: relative;
}

.path::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 50 50;
    background-image: url(play.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
}

.wall{
    background-color: #826F8C;
}

.open{
    background-color: #CA92EA;
}

.closed{
    background-color: white;
}

/* Rotation Styles */
.path.r45::before{
    transform: translate(-50%, -50%) rotate(45deg);
}

.path.r90::before{
    transform: translate(-50%, -50%) rotate(90deg);
}

.path.r135::before{
    transform: translate(-50%, -50%) rotate(135deg);
}

.path.r180::before{
    transform: translate(-50%, -50%) rotate(180deg);
}

.path.r225::before{
    transform: translate(-50%, -50%) rotate(225deg);
}

.path.r270::before{
    transform: translate(-50%, -50%) rotate(270deg);
}

.path.r315::before{
    transform: translate(-50%, -50%) rotate(315deg);
}